<a href="" class="btn btn-primary" id="fixedbutton" data-toggle="modal" data-target="#contactmodal">Contact me!</a>
<!-- contact modal -->
<div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h3>Contact</h3>
      <div class="modal-body">
        <div class="row">
          <form action="/static_pages" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Marty McFly" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="outtatime@gmail.com" required>
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea id="message" class="form-control" placeholder="Hey, Doc, we better back up. We don't have enough road to get up to 88." required></textarea>
            </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<nav data-spy="affix" data-offset-top="100" id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Warrenjfletcher</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header>
  <% if notice %>
  <div class="alert alert-success alert-dismissible alert-message" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
  <% end %>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Full Stack Web Developer</h1>
      <h4>(and nature enthusiast)</h4>
      <hr>
      <p></p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>



<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About me</h2>
        <hr class="light">
        <p class="text-faded">Throughout my academic life, I thought I wanted to work in the biological field. After working in a research lab at Harvard for five years, and simultaneously pursuing a certificate in web development offered at the Harvard
          Extension School, I learned that my passion for web development should be taken more seriously as a career option.
        </p>
        <p class="text-faded">
          Which brings me to today, where I am a recent graduate of the coding bootcamp Launch Academy, looking to snag my first position as a web developer. This intensive program teaches full-stack coding using the Ruby on Rails framework for building web
          apps. I'm hoping this will catapult me into the tech career of my dreams.</p>
        <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">I can do things</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>Ruby on Rails</h3>
          <p class="text-muted">I build powerful sites with the help of Ruby on Rails.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-code text-primary sr-icons"></i>
          <h3>Clean code</h3>
          <p class="text-muted">It's important for me to create clean code using test driven development</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-github text-primary sr-icons"></i>
          <h3>Version control</h3>
          <p class="text-muted">Experience using Github for version control in agile work environment</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart-o text-primary sr-icons"></i>
          <h3>Made with Love</h3>
          <p class="text-muted">You have to make your websites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box" data-toggle="modal" data-target="#workitmodal">
          <img src="/assets/portfolio/workit.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Website
              </div>
              <div class="project-name">
                Workit
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="workitmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Workit</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="/assets/portfolio/workit.png" class="img-responsive" alt="">
                  </div>
                  <div class="col-md-6">
                    <p>WorkIt allows users to quickly and easily log their workouts while they're at the gym. I used OmniAuth to allow a user to login using Devise, Google, or Fitbit if they want to incorporate Fitbit data into the app. I used Reactjs elements to
                      provide a smoother user experience. If the user logs in with Fitbit, they can see the average of their last week of steps. A user can also see their data displayed on a graph using Google Charts.</p>

                    <p>I believe that health and fitness is an important part of life. This is especially true when you have a career that requires you to sit at a desk all day. I wanted an app that could help users see their progress at the gym because I believe seeing
                      progress is a great motivator.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="https://github.com/wjfletcher/workit" target="_blank" class="btn btn-primary">Github</a>
                <a href="https://workit-app.herokuapp.com/" target="_blank" class="btn btn-primary">Live Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box" data-toggle="modal" data-target="#annawarrenmodal">
          <img src="/assets/portfolio/annaandwarren.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Website
              </div>
              <div class="project-name">
                Anna and Warren
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="annawarrenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Anna and Warren</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="/assets/portfolio/annaandwarren.png" class="img-responsive" alt="">
                  </div>
                  <div class="col-md-6">
                    <p>Anna and Warren is a site I created for my wedding. The purpose of it is to provide information about the wedding as well as the venue and the surrounding area. This is a relatively static page, but uses react for the front-end.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="https://github.com/wjfletcher/annaandwarren" target="_blank" class="btn btn-primary">Github</a>
                <a href="http://www.annaandwarren.party/" target="_blank" class="btn btn-primary">Live Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box" data-toggle="modal" data-target="#myModal">
          <img src="/assets/portfolio/beerdrinker.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Website
              </div>
              <div class="project-name">
                Beerdrinker
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">BeerDrinker</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="/assets/portfolio/beerdrinker.png" class="img-responsive" alt="">
                  </div>
                  <div class="col-md-6">
                    <p>BeerDrinker is a beer diary where you can add and review beers. This app uses the Laravel MVC framework, which uses the PHP coding language. I included a star rating to make the rating more visual, and the site requires the user to log in before
                      they can use it.</p>

                    <p>I am a beer enthusiast, but I often forget what beers I have and haven't tried. Even if I remember trying a beer, I don't necessarily remember how it tasted. This app allowed me to create a beer diary that I could always have with me since it's
                      stored online.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="https://github.com/wjfletcher/p4" target="_blank" class="btn btn-primary">Github</a>
                <a href="https://beerdrinker.herokuapp.com/" target="_blank" class="btn btn-primary">Live Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Contact me</h2>
      <a href="" class="btn btn-default btn-xl sr-button" data-toggle="modal" data-target="#contactmodal">Contact!</a>
    </div>
    <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">BeerDrinker</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <img src="/assets/portfolio/beerdrinker.png" class="img-responsive" alt="">
              </div>
              <div class="col-md-6">
                <p>BeerDrinker is a beer diary where you can add and review beers. This app uses the Laravel MVC framework, which uses the PHP coding language. I included a star rating to make the rating more visual, and the site requires the user to log in before
                  they can use it.</p>

                <p>I am a beer enthusiast, but I often forget what beers I have and haven't tried. Even if I remember trying a beer, I don't necessarily remember how it tasted. This app allowed me to create a beer diary that I could always have with me since it's
                  stored online.</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://github.com/wjfletcher/p4" target="_blank" class="btn btn-primary">Github</a>
            <a href="https://beerdrinker.herokuapp.com/" target="_blank" class="btn btn-primary">Live Site</a>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="primary">
          <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
          <i class="fa fa-phone fa-3x sr-contact"></i>
          <p>781-439-4197</p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-envelope-o fa-3x sr-contact"></i>
          <p>
            <a href="mailto:warren@warrenjfletcher.tech">warren@warrenjfletcher.tech</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
